.fondo{
    margin: 0;
    padding: 0;
    background: url(../Images/SPACE.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
  }
 .linker{ color: inherit; 
  text-decoration: none;} 
  .linker:hover{ color: #d66746;
    font-weight: bold; 
    text-decoration: none;
    } 
    .tabla{
      margin-left: 0px;
    }
.tab{
  margin: auto;
  padding: 3%;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.modalcolor{
    border-color: white;
    background: url(../Images/SPACE2.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
.modinterno{
  background: rgba(0, 0, 0, 1.0);
  padding: 5%;
  margin: 1.5%;
  text-align: center;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
  .box{
    width: 40%;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 5%;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  